!!!
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title Minimum Game

    meta(name='description', content='Simple yet addictive card game')
    meta(name='author', content='Rahul Devaskar <apostopher@gmail.com>')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/app.css')

    script(src='/js/libs/modernizr-2.5.3-respond-1.1.0.min.js')

  body(data-gameid='#{gameid}')
    //if lt IE 7
      p.chromeframe.
        You are using an outdated browser.
        <a href="http://browsehappy.com/">Upgrade your browser today</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
        to better experience this site.

    #gamecontainer.container-fluid
      .row-fluid
        .span12
          header#sitehead
            h3 Minimum game
              sub beta

      #gamerow.row-fluid
        #leftcol.span3
          - if (gameid)
            .thumbnail
              .caption
                form#joinGameFrm.form-horizontal(method='post')
                  label(for='hostname') Your name
                  .input-append
                    input#joinname.input-medium(type='text', name='joinname', required)
                    button.btn.btn-primary(type='submit') Join game
          - else
            .thumbnail
              .caption
                form#hostGameFrm.form-horizontal(method='post')
                  label(for='hostname') Your name
                  .input-append
                    input#hostname.input-medium(type='text', name='hostname', required)
                    button.btn.btn-primary(type='submit') Host game

              #gameiddiv.alert.alert-success.alert-block.hide
                h5 Game hosted!
                p Share the following url with your friends
                p#gameurl
          #startgamediv.thumbnail.hide
            .caption
              form#startGameFrm(method='post')
                button.btn.btn-danger.btn-block(type='submit') Start game
        #rightcol.span9
          .row-fluid
            #topdiv.span12
              ul#otherPlayers.clearfix

          #tablecardsrow.row-fluid
            .span10
              ul#tablecards.clearfix
                li#closedCard(data-type='0')
                  img.img-rounded(src='/img/b.png')
                li#opencards(data-type='1')
                  

      .row-fluid.pushfooter
    #footer.footer
      #footerdiv
        .container-fluid
          #mycardsrow.row-fluid
            .span10.offset1
              ul#mycards.clearfix 

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script window.jQuery || document.write('<script src="/js/vendor/jquery-1.7.2.min.js"><\\/script>')
    script(src='/js/libs/bootstrap/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/app.js')

    // -
      script
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
